.data{
    display: flex;
    // width: 100%;
    .dataContainer{
        flex: 6;
        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
          }
    
          .charts {
            padding: 5px 20px;
            // height: 100%;
          }
        // .top{
        //     padding: 20px;
        //     display: flex;
        //     // gap: 20px;
        
        //     .left{
        //      flex: 2;
        //      box-shadow: 13px 12px 9px -1px rgba(207,184,232,0.53);
        //       -webkit-box-shadow: 13px 12px 9px -1px rgba(207,184,232,0.53);
        //      -moz-box-shadow: 13px 12px 9px -1px rgba(207,184,232,0.53);
        //      padding: 20px;
        //      position: relative;
        //     }
        
                
            
        // }

        
    }
}